# AN√ÅLISIS DE COVID-19 TWEETS

## Importaci√≥n de las librerias

Importamos las librerias necesarias para la realizaci√≥n del ejercicio.

In [50]:
import pandas
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

print('Setup complete.')

Setup complete.

## Visualizaci√≥n del dataset

Comenzamos con la lectura del csv ubicado en la carpeta data. Tras ello, mediante .head() se imprimir√°n las primeras filas del csv.

In [32]:
df_tweets = pandas.read_csv('data/covid19_tweets.csv')

In [33]:
df_tweets.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [58]:
round(df_tweets.describe(), 0)

       user_followers  user_friends  user_favourites
count        179108.0      179108.0         179108.0
mean         109056.0        2122.0          14444.0
std          841467.0        9163.0          44523.0
min               0.0           0.0              0.0
25%             172.0         148.0            206.0
50%             992.0         542.0           1791.0
75%            5284.0        1725.0           9388.0
max        49442559.0      497363.0        2047197.0

A continuaci√≥n, a trav√©s de esta funci√≥n veremos el tipo de datos de cada columna. Es decir, si son: float, int64, object, etc.

In [35]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179108 entries, 0 to 179107
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_name         179108 non-null  object
 1   user_location     142337 non-null  object
 2   user_description  168822 non-null  object
 3   user_created      179108 non-null  object
 4   user_followers    179108 non-null  int64
 5   user_friends      179108 non-null  int64
 6   user_favourites   179108 non-null  int64
 7   user_verified     179108 non-null  bool
 8   date              179108 non-null  object
 9   text              179108 non-null  object
 10  hashtags          127774 non-null  object
 11  source            179031 non-null  object
 12  is_retweet        179108 non-null  bool
dtypes: bool(2), int64(3), object(8)
memory usage: 15.4+ MB

## Limpieza del dataset

La limpieza del dataset es sumamanete importante a la hora de analizar los datos para que no haya errores.

### Datos vacios

Primero realizaremos la comprobaci√≥n para ver si hay datos vacios, para que sean eliminados.

In [36]:
df_tweets.isnull().sum()

user_name               0
user_location       36771
user_description    10286
user_created            0
user_followers          0
user_friends            0
user_favourites         0
user_verified           0
date                    0
text                    0
hashtags            51334
source                 77
is_retweet              0
dtype: int64

In [42]:
df_tweets_f2 = df_tweets.dropna()

**COMPROBACI√ìN**

In [43]:
df_tweets_f2.isnull().values.any()

False

### Datos duplicados

In [44]:
total_duplicates = df_tweets_f2.duplicated().sum()
if total_duplicates == 0:
    print('No hay datos duplicados.')
else:
    print('Total duplicados:', total_duplicates)

No hay datos duplicados.